.model-overlay{
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, .7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
.model-content{
    width: 90%;
    max-width: 60rem;
    height: auto;
    max-height: 98%;
    background-color: #111214;
    padding: 4rem;
    border-radius: 1rem;
    box-shadow: 0 0 5rem 4rem rgba(0, 0, 0, 0.5);
    position: relative;
}
.close-button{
    position: absolute;
    top: 1rem;
    right: 2rem;
    font-size: 2rem;
    color: #fff;
    cursor: pointer;
}
.model-image{
    width: 100%;
    height: auto;
    max-height: 30rem;
    object-fit: cover;
    border-radius: 1rem;
    opacity: 0.5;
}
.modal-title{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 2rem;
    color: #fff;
    letter-spacing: 0.1rem;
    margin-top: 2rem;
}
.model-source , .model-date{
    font-family: 'Comfortaa', sans-serif;
    font-size: 1.1rem;
    color: #bbb;
    margin-top: 0.7rem;
}
.model-content-text{
    font-size: 1.5rem;
    color: #ddd;
    margin-top: 0.7rem;
    line-height: 2.3rem;
}
.read-more-link{
    width: 10rem;
    display: inline-block;
    background: linear-gradient(to right,#b88efc, #6877f4);
    margin-top: 0.7rem;
    padding: 7px;
    color: #fff;
    text-align: center;
    font-size: 1.3rem;
    text-transform: uppercase;
    border-radius: 5rem;

}
.read-more-link:active{
    transform: translateY(0.1rem);
}